In [0]:
import pandas as pd

In [2]:
df = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=945633050')[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

* Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [0]:
df = df.query('Borough != "Not assigned"').copy()

* If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [4]:
#Count of rows with "Not assigned" Neighbourhood after filtering:
len(df.query('Neighbourhood == "Not assigned"'))

0

* More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [11]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index().copy()
df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [12]:
df.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

* In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [13]:
df.shape

(103, 3)

In [19]:
geocodes = pd.read_csv('http://cocl.us/Geospatial_data')
geocodes.head(2)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497

In [0]:
df_coor = df.merge(geocodes,how="inner", left_on="Postcode",right_on="Postal Code",left_index=True)

In [0]:
# Drop duplicated column
df_coor.drop(columns="Postal Code",axis=1,inplace=True)

In [27]:
df_coor

    Postcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
..       ...          ...  ...        ...        ...
98       M9N         York  ...  43.706876 -79.518188
99       M9P    Etobicoke  ...  43.696319 -79.532242
100      M9R    Etobicoke  ...  43.688905 -79.554724
101      M9V    Etobicoke  ...  43.739416 -79.588437
102      M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]